@{
    Layout = "~/Plugins/Widgets.Employees/Views/Shared/_AdminShared.cshtml";
}
@model DepartmentModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;
@{
    //page title
    ViewBag.Title = T(AdminResources.EditDepartmentCaption).Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "employee-form" }))
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T(AdminResources.EditDepartmentCaption)
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                @Html.ActionLink(T(DepartmentActionResources.BackToList).Text,
                    nameof(WidgetsEmployeesController.DepartmentList),
                    WidgetsEmployeesController.ControllerName,
                    new { area = "" },
                    null)
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <partial name="~/Plugins/Widgets.Employees/Views/Employees/_CreateOrUpdateDepartment.cshtml" />
}