@{
    Layout = "~/Plugins/Widgets.Employees/Views/Shared/_AdminShared.cshtml";
}
@model EmployeeModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;

@{
    ViewBag.PageTitle = T(AdminResources.AddEmployeeCaption).Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "employee-form" }))
{
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T(AdminResources.AddEmployeeCaption)
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                @Html.ActionLink(T(EmployeeActionResources.BackToList).Text,
                    nameof(EmployeesController.Index),
                    EmployeesController.ControllerName,
                    new { area = "" },
                    null)
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <partial name="_CreateOrUpdateEmployee.cshtml" />
}