@using Nop.Plugin.Widgets.Employees.Controllers;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Extensions;
<li>
    @Html.ActionLink(T(EmployeeResources.ListCaption).Text,
    nameof(EmployeesController.IndexAsync).NoAsync(),
    EmployeesController.ControllerName,
    null,
    null)
</li>
