@using Nop.Plugin.Widgets.Employees.Controllers;
@using Nop.Plugin.Widgets.Employees.Resources;
<li>
    @Html.ActionLink(T(EmployeeResources.ListCaption).Text,
    nameof(EmployeesController.Index),
    EmployeesController.ControllerName,
    null,
    null)
</li>
