@{
    Layout = "~/Plugins/Widgets.Employees/Views/Shared/_AdminShared.cshtml";
}
@model DepartmentSearchModel
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Plugin.Widgets.Employees.Controllers;
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Web.Framework.Models.DataTables;
@{
    //page title
    ViewBag.Title = T(AdminResources.DepartmentListCaption).Text;
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T(AdminResources.DepartmentListCaption)
    </h1>
    <div class="pull-right">
        @Html.ActionLink(T(AdminResources.AddDepartmentButton).Text,
            nameof(DepartmentsController.Create),
            DepartmentsController.ControllerName,
            null,
            new { @class = "btn bg-blue" })
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                   @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "departments-grid",
                       UrlRead = new DataUrl(nameof(DepartmentsController.ListData), DepartmentsController.ControllerName,
                            new Microsoft.AspNetCore.Routing.RouteValueDictionary{["area"] = "Admin" }),
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(DepartmentModel.Name))
                            {
                                Title = T(DepartmentResources.Name).Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(DepartmentModel.DisplayOrder))
                            {
                                Title = T(GenericResources.DisplayOrder).Text,
                                Width = "100"
                            },
                            new ColumnProperty(nameof(DepartmentModel.Published))
                            {
                                Title = T(GenericResources.Published).Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(DepartmentModel.Id))
                            {
                                Title = T(AdminResources.EditDepartmentCaption).Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(
                                    new DataUrl(@Url.Action(nameof(DepartmentsController.Edit), 
                                                            DepartmentsController.ControllerName,
                                                            new { area = "Admin"})))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
