@model EmployeeModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Plugin.Widgets.Employees.Resources;
@using Nop.Web.Framework
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Title" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Title" asp-required="true" />
                            <span asp-validation-for="Title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Email" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Email" asp-required="true" />
                            <span asp-validation-for="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DepartmentId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="DepartmentId" asp-items="Model.AvailableDepartments" />
                            <a href="~/Employees/CreateDepartment">@T(AdminResources.AddDepartmentCaption)</a>
                            <span asp-validation-for="DepartmentId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PictureId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PictureId" asp-required="true" />
                            <span asp-validation-for="PictureId" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Info" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Info" asp-required="true" />
                            <span asp-validation-for="Info" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Specialties" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Specialties" asp-required="true" />
                            <span asp-validation-for="Specialties" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Interests" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Interests" asp-required="true" />
                            <span asp-validation-for="Interests" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PhoneNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PhoneNumber" asp-required="true" />
                            <span asp-validation-for="PhoneNumber" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="MobileNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="MobileNumber" asp-required="true" />
                            <span asp-validation-for="MobileNumber" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="WorkStarted" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="WorkStarted" asp-required="true" />
                            <span asp-validation-for="WorkStarted" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="WorkEnded" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="WorkEnded" asp-required="true" />
                            <span asp-validation-for="WorkEnded" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Published" asp-required="true" />
                            <span asp-validation-for="Published" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Deleted" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Deleted" asp-required="true" />
                            <span asp-validation-for="Deleted" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>