@{
    Layout = "";

    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
}
@model EmployeeModel
@using Nop.Plugin.Widgets.Employees.Models;
@using Nop.Core.Infrastructure;
<div>This plugin does not need any configuration.</div>